@import '../../../../styles/abstracts/index';

.nav__logo {
    &--item {
        @include flexbox(row, space-between, center);
        min-width: 150px;

        &:hover {
            color: $icon-color;
        }
    }
    &--icon {
        font-size: 5rem;
        color: $icon-color;
        background-color: $primary-text-color;
        border-radius: 50%;
    }
}
