@import '../../../../styles/abstracts/index';

.nav__list {
    width: 100%;
    display: none;
    overflow: auto;
    padding: 0 20px;

    @include breakpoint-tablet {
        padding: 0;
    }
    @include breakpoint-desktop {
        @include flexbox;
        width: auto;
    }
    &--active {
        //Menu Active
        display: block;

        @include breakpoint-desktop {
            display: flex;
        }
    }
}
