header {
    background-color: $light-primary-color;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
}
.nav {
    @include flexbox(row, space-between, center);
    @include set-line-height(0.4rem);
    color: $icon-color;
    font-size: 1.6rem;
    min-height: 70px;

    &__logo {
        min-height: 70px;

        @include flexbox(row, space-between, center);
        flex: 100%;
        padding: 0 20px;

        @include breakpoint-tablet {
            padding: 0;
        }
        @include breakpoint-desktop {
            flex: auto;
        }

        &--item {
            @include flexbox(row, space-between, center);
            min-width: 150px;
        }
        &--company-name {
            &:hover {
                color: $primary-text-color;
            }
        }
        &--icon {
            font-size: 5rem;
            color: $icon-color;
            background-color: $primary-text-color;
            border-radius: 50%;
        }
    }
    &__list {
        width: 100%;
        display: none;
        overflow: auto;
        padding: 0 20px;

        @include breakpoint-tablet {
            padding: 0;
        }
        @include breakpoint-desktop {
            @include flexbox;
            width: auto;
        }

        &--link {
            display: inline;
        }
        &--item {
            width: 100%;
            border-bottom: 1px solid;
            font-weight: bold;
            padding: 15px 0;

            @include breakpoint-desktop {
                width: auto;
                border: none;
                padding: 0 20px;
            }

            &:hover {
                color: $primary-text-color;
            }
        }
        &--last-item {
            //last nav item
            border: none;
        }
    }
    &__toggle {
        font-size: 4rem;
        @include flexbox(row, flex-start, center);
        cursor: pointer;

        @include breakpoint-desktop {
            //Display none in desktop view
            display: none;
        }
        &--menu, &--close {
            display: none;
        }
        &--active {
            //Menu Active
            display: block;

            @include breakpoint-desktop {
                display: flex;
            }
        }
    }
}
.active {
    color: $primary-text-color;
}
