
@import '../../../../styles/abstracts/index';

.follower {
    flex: 100%;
    padding: 10px;
    border: 1px solid $dark-primary-color;
    border-radius: 15px;
    background-color: $background-color;
    margin: 10px 0;
    max-width: 300px;

    @include breakpoint-tablet {
        flex: 50% 0;
        margin: 10px;     
    }
    @include breakpoint-desktop {
        flex: 30% 0;
    }

    &__avatar {
        width: 200px;
        height: 200px;
        margin: auto;

        &--image {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 1px solid $light-primary-color;
        }
    }
    &__username {
        text-align: center;
        padding: 20px 0 10px;
        color: $primary-color;
    }
}
