@font-face {
  font-family: 'icomoon';
  src:  url('../../assets/fonts/icons/icomoon.eot');
  src:  url('../../assets/fonts/icons/icomoon.eot?fd52q2#iefix') format('embedded-opentype'),
    url('../../assets/fonts/icons/icomoon.ttf?fd52q2') format('truetype'),
    url('../../assets/fonts/icons/icomoon.woff?fd52q2') format('woff'),
    url('../../assets/fonts/icons/icomoon.svg?fd52q2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e901";
}
