@import '../../../../styles/abstracts/index';

.nav__logo {
    min-height: 70px;

    @include flexbox(row, space-between, center);
    flex: 100%;

    @include breakpoint-tablet {
        padding: 0;
    }
    @include breakpoint-desktop {
        flex: auto;
    }
}
