@import '../../../../styles/abstracts/index';

.input-element {
    margin: 20px 0;
}
input {
    //Styling for text and password input fields
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid $primary-text-color;
    border-radius: 4px;
    outline: none;

    &:focus {
        border-color: $dark-primary-color;
    }
}
.error-field {
    color: $error-color;
    font-size: 1rem;
    text-align: right;
}
