@mixin set-line-height($line-height: 0) {
    line-height: calc(1em + #{$line-height});
}

@mixin center-container($max-width) {
    margin: auto;
    max-width: $max-width;
}

@mixin flexbox($direction: row, $justify: flex-start, $align: flex-start, $wrap: wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    @if $direction == column {
        flex-direction: column;
    }
    @if $wrap == wrap {
        flex-wrap: wrap;
    }
}
//Mixin for tablet related media queries
@mixin breakpoint-tablet {
    @media screen and (min-width: $tablet-screen-width) {
        @content;
    }
}

//Mixin for desktop related media queries
@mixin breakpoint-desktop {
    @media screen and (min-width: $desktop-screen-width) { 
        @content;
    }
}
