$base-font-size: 62.5%;

$dark-primary-color: #1976d2;
$light-primary-color: #448aff;
$primary-color: #2196f3;
$icon-color: #ffffff;
$accent-color: #448aff;
$primary-text-color: #212121;
$seconday-text-color: #757575;
$divider-color: #bdbdbd;
