$base-font-size: 62.5%;

//Colors
$dark-primary-color: #1976d2;
$light-primary-color: #448aff;
$primary-color: #2196f3;
$icon-color: #ffffff;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
$error-color: red;
$background-color: lightblue;
$success-color: green;
//Container Width
$container-width-tablet: 708px;
$container-width-desktop: 960px;
$tablet-screen-width: 768px;
$desktop-screen-width: 1025px;

//Brown Theme
@if $theme == brown {
    $dark-primary-color: #5D4037;
    $light-primary-color: brown;
    $primary-color: #795548;
    $background-color: #D7CCC8;
    $secondary-text-color: #FFCDD2;
}
