$base-font-size: 62.5%;

//Colors
$dark-primary-color: #1976d2;
$light-primary-color: #448aff;
$primary-color: #2196f3;
$icon-color: #ffffff;
$primary-text-color: #212121;
$seconday-text-color: #757575;
$divider-color: #bdbdbd;
$error-color: red;
$background-color: lightblue;
$dark-background-color: #0099cc;
$success-color: green;
$disabled-color: rgba(0, 128, 255, 0.4);
//Container Width
$container-width-tablet: 708px;
$container-width-desktop: 960px;
$tablet-screen-width: 768px;
$desktop-screen-width: 1025px;
