.center-container {
    padding: 0 20px;

    @include breakpoint-tablet {
        @include center-container($container-width-tablet);
        padding: 0;
    }
    @include breakpoint-desktop {
        @include center-container($container-width-desktop);
    }
}
main {
    margin-top: 70px;
    font-size: 1.6rem;
}
.heading {
    color: $dark-primary-color;
    font-size: 5rem;
}
input {
    //Styling for text and password input fields
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid $primary-text-color;
    border-radius: 4px;
    outline: none;

    &:focus {
        border-color: $dark-primary-color;
    }
}
button[type=submit] {
    background-color: $light-primary-color;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: $dark-primary-color;
    }
}
.no-border {
    border: none !important;
}
.active {
    color: $primary-text-color;
}
