.center-container {
    @include breakpoint-tablet {
        @include center-container($container-width-tablet);
        padding: 0;
    }
    @include breakpoint-desktop {
        @include center-container($container-width-desktop);
    }
}
.no-border {
    border: none !important;
}
.active {
    color: $primary-text-color;
}
