@import '../../../../styles/abstracts/index';

.profile-data {
    @include flexbox(column, space-between);

    @include breakpoint-tablet {
        margin: 0 20px;
    }

    &__item {
        padding: 5px 0;
    }
    &__icon {
        color: $primary-color;
        padding-right: 10px;
        font-size: 2rem;
    }
    &__attribute {
        font-weight: bold;
        color: $primary-color;
        padding-right: 5px;
    }
}
