@import '../../../../styles/abstracts/index';

.chip {
    padding: 5px 10px;
    margin: 5px auto;
    background-color: $background-color;
    border-radius: 15px;

    &:hover {
        background-color: $dark-background-color;
    }

    &__item {
        @include flexbox(row, flex-start, center);

        &:hover {
            color: unset; // reset the inherited hover color
        }
        &--avatar {
            height: 40px;
            width: 50px;
            padding-right: 10px;
        }
        &--username {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 110px;
        }
    }
}
