@import '../../../../styles/abstracts/index';

.profile__avatar {
    max-height: 250px;
    max-width: 250px;
    border: 2px solid $light-primary-color;
    margin: 20px 0;

    @include breakpoint-tablet {
        margin: 20px;
    }

    &--img {
        width: 100%;
        height: 100%;
    }
}
