* {
    @include set-line-height(0.4rem);
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    vertical-align: baseline;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    font-size: $base-font-size;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;

    &:hover {
        color: $dark-primary-color;
    }
}
a:focus {
    background-color: inherit;
}
h1 {
    font-size: 3.2rem;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 2.08rem;
}
h4 {
    font-size: 1.6rem;
}
h5 {
    font-size: 1.28rem;
}
h6 {
    font-size: 1.12rem;
}
span {
    font-weight: inherit; 
}
