/* roboto-regular - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    
    src: url('../../assets/fonts/Roboto/roboto-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('../../assets/fonts/Roboto/roboto-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/Roboto/roboto-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/Roboto/roboto-regular.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/Roboto/roboto-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/Roboto/roboto-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/Roboto/roboto-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../../assets/fonts/Roboto/roboto-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../../assets/fonts/Roboto/roboto-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../../assets/fonts/Roboto/roboto-700.woff') format('woff'), /* Modern Browsers */
        url('../../assets/fonts/Roboto/roboto-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../../assets/fonts/Roboto/roboto-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
