@import "../../../../styles/abstracts/index.scss";

// loader css
.loader {
    margin: 5px auto;
    border: 5px solid $icon-color;
    border-radius: 50%;
    border-top: 5px solid $primary-color;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
